<html>
    <head>
        <title>user detail <%= users.title %> </title>
    </head>
    <body>
        <div>
            <h1><%= users.id %></h1>
            <p><%= users.username %></p>
            <p><%= users.password %></p>
        </div>
    </body>
</html>