<html>
    <head>
        <title>users | All</title>
    </head>
    <body>
        <% user_games.forEach ((i)=> { %>
            <div>
                <h1><%= i.id %></h1>

                <p><%= i.username %></p>
                <a href = "/users/<%= i.id %>">baca lebih lanjut!</a>
            </div>
       <% }) %>
    </body>
</html>